@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);

/*a {
opacity: 0.5;
}
a:hover  {
opacity: 1;
}*/

/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
  display: flex;
  align-items: center;
}

.client {
  float: left;
  color: white;
  bottom: 0px;
  font-size: 300%;
}

.l-right {
  float: right;
}

/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', Arial, sans-serif;
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  letter-spacing: .18em;
}

a {
  text-decoration: none;
  color: white;
}

ul,
li {
  list-style-type: none;
}

p {
  color: white;
  font-size: 100%;
  text-align: center;

}

.text-when {
  text-align: center;
  position: absolute;
  margin-top: 80px;
  margin-left: 350px;
}

.text-fort {
  text-align: center;
  position: absolute;
  margin-top: 80px;
  margin-left: 380px;
}

.text-diss {
  text-align: center;
  position: absolute;
  margin-top: 80px;
  margin-left: 160px;
}

.text-for {
  text-align: center;
  position: absolute;
  margin-top: 10px;
  margin-left: 320px;
}

.text-center {
  text-align: center;
  position: absolute;
  margin-top: 10px;
}

/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
  height: 70px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
}

.header-top .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 1px) {
  /* Header wrapper */
}

.slide-nav-btn {
  cursor: pointer;
  width: 50px;
  margin-top: 2rem;
}

.menu {
  -webkit-transition: 0.1s transform linear;
  transition: 0.1s transform linear;
  position: relative;
  background: 0;
  margin: 0 1.5rem;
  height: 48px;
  width: 5rem;
  z-index: 15;
  /* Higher than nav to stay on top */
  outline: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar,
.nav-bar::before,
.nav-bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #ffffff;
  margin: 0;
  width: 60px;
  height: 0.6rem;
  content: '';
  top: 0;
  left: 0;
}

.nav-bar {
  margin-top: 0.25rem;
}

.nav-bar::before {
  top: -1.25rem;
}

.nav-bar::after {
  top: 1.25rem;
}

.nav-bar::before,
.nav-bar::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.active .nav-bar {
  background: 0;
}

.active .nav-bar::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.active .nav-bar::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.active .nav-bar::before,
.active .nav-bar::after {
  top: 0;
}

.active .nav-bar,
.active .nav-bar::before,
.active .nav-bar::after {
  -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
}

nav {
  width: 100%;
  height: 100%;
  /* Fill header height for vertical centering */
  position: fixed;
  -webkit-transform: translateX(+100%);
  transform: translateX(+100%);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.51);
  transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.51);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.51);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.51);
  z-index: 10;
}

.menu-open nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  right: 8rem;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  align-items: center;
}

nav ul li {

  font-size: 2rem;
  margin-right: .5rem;
  float: left;
  color: white;
  padding: 10px 25px;
  border: 5px solid transparent;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

nav ul li:hover {
  background: transparent;
  cursor: pointer;
  /*border: 5px solid #2e2e2e;
	outline: 1px inset #000;
	color: #e2e2e2;*/
  -webkit-transition: border .55s ease;
  transition: border .55s ease;
}


/* SECTION STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
  text-align: center;
  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}

h2 {
  text-transform: lowercase;
  font-size: 4em;
  margin-bottom: 20px;
}

h3 {
  font-weight: 300;
  font-size: 2.8em;
}

#abcSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#4b62c3), to(#41697a));
  background: -webkit-linear-gradient(#4b62c3, #41697a);
  background: linear-gradient(#4b62c3, #41697a);
}

#biancaSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#000000), to(#877c86));
  background: -webkit-linear-gradient(#000000, #877c86);
  background: linear-gradient(#000000, #877c86);
}

#aboutSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#C0C0C0), to(#877c86));
  background: -webkit-linear-gradient(#C0C0C0, #877c86);
  background: linear-gradient(#C0C0C0, #877c86);
}

#VideoSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#000000), to(#000000));
  background: -webkit-linear-gradient(#000000, #000000);
  background: linear-gradient(#000000, #000000);
}

#WhiteSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#C0C0C0), to(#FFFFFF));
  background: -webkit-linear-gradient(#C0C0C0, #FFFFFF);
  background: linear-gradient(#C0C0C0, #FFFFFF);
}

#fortpflanzungSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#FFFFFF), to(#9c9c9c));
  background: -webkit-linear-gradient(#FFFFFF, #9c9c9c);
  background: linear-gradient(#FFFFFF, #9c9c9c);
}

#mutterSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#9c9c9c), to(#57595D));
  background: -webkit-linear-gradient(#9c9c9c, #57595D);
  background: linear-gradient(#9c9c9c, #57595D);
}

#heidiSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#000000), to(#000000));
  background: -webkit-linear-gradient(#000000, #000000);
  background: linear-gradient(#000000, #000000);
}

#residencySection {
  background: -webkit-gradient(linear, top left, bottom left, from(#de7eda), to(#4ce27a));
  background: -webkit-linear-gradient(#de7eda, #4ce27a);
  background: linear-gradient(#de7eda, #4ce27a);
}

/*Page Photos*/
#bestatterSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#000000), to(#000000));
  background: -webkit-linear-gradient(#000000, #000000);
  background: linear-gradient(#000000, #000000);
}

#bademilchSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#1E90FF), to(#DDA0DD));
  background: -webkit-linear-gradient(#1E90FF, #DDA0DD);
  background: linear-gradient(#1E90FF, #DDA0DD);
}

#alienSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#000000), to(#B0E0E6));
  background: -webkit-linear-gradient(#000000, #B0E0E6);
  background: linear-gradient(#000000, #B0E0E6);
}

#doppelbelichtungSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#000000), to(#c5ccd3));
  background: -webkit-linear-gradient(#000000, #c5ccd3);
  background: linear-gradient(#000000, #c5ccd3);
}

#kiraSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#99004d), to(#c5ccd3));
  background: -webkit-linear-gradient(#99004d, #c5ccd3);
  background: linear-gradient(#99004d, #c5ccd3);
}

/*Page Design*/
#vokodeSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#b35900), to(#c5ccd3));
  background: -webkit-linear-gradient(#b35900, #c5ccd3);
  background: linear-gradient(#b35900, #c5ccd3);
}

#calendariumSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#00e6ac), to(#b3ffff));
  background: -webkit-linear-gradient(#00e6ac, #b3ffff);
  background: linear-gradient(#00e6ac, #b3ffff);
}

#spaceSection {
  background: -webkit-gradient(linear, top left, bottom left, from(#ccd9ff), to(#ffe6e6));
  background: -webkit-linear-gradient(#ccd9ff, #ffe6e6);
  background: linear-gradient(#ccd9ff, #ffe6e6);
}

/* SLIDENAV STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #24221F;
}

/* VIDEO STYLES –––––––––––––––––––––––––––––––––––––––––––––––––– */


.reelcontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  /* Hide the "cropped" parts of the YouTube iframe */
}

.reel-wrapper {
  position: absolute;
  top: -10%;
  /* Crop top bar */
  left: -10%;
  /* Crop side UI elements if any */
  width: 120%;
  /* Expand to cover crop */
  height: 120%;
  /* Expand to cover crop */
  pointer-events: none;
  /* Disable interaction to hide YT overlay on hover */
}

.reel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/

  /* background-image: ; */
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */

  z-index: 3;
}

/*over  */
#over {
  position: absolute;
  top: 90vh;
  ;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 100px;
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#VideoSection .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 45%;
  /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */

  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.layer-client {

  position: absolute;
  z-index: 4;
  width: 100%;
  left: 2%;
  top: 95%;


}

/*solves problem with overflowing video in Mac with Chrome */
#VideoSection {
  overflow: hidden;
}

/* Bottom menu
	* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
video::-webkit-media-controls {
  display: none !important;
}

/* MQ STYLES –––––––––––––––––––––––––––––––––––––––––––––––––– */

/*hochkant*/
@media screen and (min-aspect-ratio: 1/2) {
  #three {
    max-width: auto;
    max-height: 30%;
  }

  img {
    max-width: auto;
    max-height: 00%;
  }

  nav ul li {
    float: none;
  }

}

/*mittel*/
@media screen and (min-aspect-ratio: 1/1) {
  #three {
    max-width: auto;
    max-height: 40%;
  }

  #left {
    float: left;
    margin-left: 3cm;
  }

  img {
    max-width: auto;
    max-height: 70%;
  }

  nav ul li {
    float: left;
  }
}

/*breitbild*/
@media screen and (min-aspect-ratio: 2/1) {
  #three {
    max-width: auto;
    max-height: 50%;
  }

  #left {
    float: left;
    margin-left: 3cm;
  }

  img {
    max-height: 90%;
    width: auto;
  }

  nav ul li {
    float: left;
  }
}

/*video -----------------------------*/
.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */

  padding-top: .25%;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}